My name is {{name}} and this README was last updated {{date}}.

# Current State

<img src='https://github.com/jeengland/jeengland/blob/main/assets/map.png?raw=true' alt='The current state of the game' width='100' height='100'>

# History

<img src='https://github.com/jeengland/jeengland/blob/main/assets/map.gif?raw=true' alt='The history of the game since last reset' width='100' height='100'>